.header {
  background-color: #2d3134;
  height: 85px;
  padding-inline: 50px;

  display: flex;
  align-items: center;

  position: sticky;
  z-index: 9999;
}

.tools {
  grid-column: 1 / 3;
  display: flex;
  gap: 20px;
}

.toolsComponents {
  display: flex;
  gap: 20px;
  flex: 1;
  border-radius: 10px;
  justify-content: space-between;
  background: #3b444b;
}

.main {
  background-size: cover;
  min-height: calc(100vh - 85px);
}

.wrapper {
  padding-block: 35px;
  display: grid;
  grid-template-columns: 340px 2fr;
  grid-template-rows: 130px 1fr;
  gap: 20px;
  min-height: calc(100vh - 85px);
}